{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

<style>
  
</style>

<div class="row">
    
    <div class="col-md-8 grid-margin stretch-card" style="margin: 0 auto;">

        <div class="card">
            <div class="card-body">
                <div class="container" style=" background-color: #191c24;">
                    {% if messages %}
                                
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
            
                    <h2 class="text-center text-uppercase" style="font-family:bold; font-size:34px;">Add Staff</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="POST" action="{% url 'add_staff'%}">
                            
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" name="name" value="{{staff_member.name}}" required class="form-control text-light">
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last Name:</label>
                                    <input type="text" id="lastname" name="lastname" required class="form-control text-light"  value="{{staff_member.lastname}}">
                                </div>
                                <div class="form-group">
                                    <label for="nickname">Nickname:</label>
                                    <input type="text" id="nickname" name="nickname" required class="form-control text-light"  value="{{staff_member.nickname}}">
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender:</label>
                                    <input type="text" id="gender" name="gender" required class="form-control text-light" value="{{staff_member.gender}}">
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <label for="date_of_birth">Date of Birth:</label>
                                    <input class="ml-2 form-control text-light" type="date" id="date_of_birth" name="date_of_birth" required value="{{staff_member.date_of_birth| date:'Y-m-d'}}">
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">Phone Number:</label>
                                    <input type="text" id="phone_number" name="phone_number" required class="form-control text-light" value="{{staff_member.phone_number}}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" required class="form-control text-light" value="{{staff_member.email}}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" required class="form-control text-light" value="{{staff_member.username}}">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="text" id="password" name="password" required class="form-control text-light" value="{{staff_member.password}}">
                                    
                                </div>
                                
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-light">Submit</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>




  
</div>
<section class="mt-5">

    
</section>

{% endblock %}
