<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malieakal</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
</head>
<style>
    
    
   
    
    body{
        font-size: 14px;
    }
    
</style>

<body>

    <div class="my-5 page" size="A4" >
        <div class="p-5">
            <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                <div class="ribbon-inner ribbon-open" style="background-color: #268ddd; margin-right: 600px; color: white; text-align: center; padding-top: 10px;">{{fom.username}}<!----></div></div>
            <section class="top-content bb d-flex justify-content-between">
                <div class="logo">
                    <img src="static\logo_malieakal.webp" alt="" class="img-fluid" width="300">
                </div>
                <div class="top-left">
                    <div class="graphic-path" style="text-align: right;padding-top: 10px;background-color:red;margin-left: 550px; text-align: center; color :rgb(255, 255, 255)">
                        <p>User Details</p>
                    </div>
                    <div class="position-relative" style="margin-left: 550px;text-align: center">
                        <p>Reg No. <span>{{form.id }}</span></p>
                    </div>
                </div>
            </section>
            <hr>
            <table class="table1">
                
                <tbody style="font-size: 18px;">
                    <tr >
                        <td>Name</td>
                        <td>:</td>
                        <td style="width: 400px;">{{form.name}} {{form.lastname}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>:</td>
                        <td>{{form.username}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>:</td>
                        <td >{{pro.gender}}</td>
                     
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date Of Birth</td>
                        <td>:</td>
                        <td >{{pro.date_of_birth}}</td>
                     
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                   
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td >{{pro.address}}</td>
                     
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email Id</td>
                        <td>:</td>
                        <td >{{pro.email}}</td>
                     
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Mobile Number</td>
                        <td>:</td>
                        <td >{{form.phone_number}}</td>
                     
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Secondary Number</td>
                        <td>:</td>
                        <td >{{pro.secondnumber}}</td>
                     
                    </tr>
                    
                    
                </tbody>

            </table>
        
            

            
        </div>
    </div>
      
    
    
</body>

</html>