
{% extends 'index/base.html' %}
{% load static %}
{% block content %}

<style>
    body {

        background-image: url("{% static 'images/background/background.jpg' %}");
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        padding: 0 8%;
        position: relative;


    }

    * {
        font-family:Georgia, 'Times New Roman', Times, serif;
        box-sizing: border-box;
       

        
    }
    p {
        font-size: 16px;
        font-weight: bold;
        color: #e2e2e2;
    }
    a {
        font-size: 16px;
        font-weight: bold;
        color: #e2e2e2;
        text-decoration: none;
    }
    a:hover {
        color:#142023; 
    }

    p a {
        color: #e2e2e2;
        text-decoration: none;
        transition: 0.2s;
    }

    p a:hover {
        color:  #142023;
    }
    
    
    .card #head {
        background-color: #142023;
        width: 100%;
        float: left;
        padding: 1em;
        margin-bottom: 1.5em;
        border: none;
        transition: 0.2s;
        font-size: 1.1em;
        font-weight: bold;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .card #head:nth-child(1) {
        border-bottom-right-radius: 20px;
    }

    .card #head:nth-child(2) {
        border-bottom-left-radius: 20px;
    }

    .card{
        background-color: #5e6e7985;
        
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .card:nth-child(1) {
        border-bottom-right-radius: 20px;
    }

    .card:nth-child(2) {
        border-bottom-left-radius: 20px;
    }

    .btn{
        background-color: #142023;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0.8em 1em 0.8em 1em !important;
        transition: 0.5s;
        border: 1px solid #ebebeb;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        color: white;
    }   
    .btn:hover{
        background: #222;
        color: white;
    }
    input{
        border-radius: 20px;
    }

</style>

<section class="section-content padding-y" style="min-height:84vh; padding-top:100px;">


    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <div id="head" style="text-align: center;"><h4 class="card-title mt-1 text-light">Reset Password</h4></div>
            {% if messages %}
            {% for message in messages %}
                <div id = "message" class="container">
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden = "true">&times;</span></button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    
    <form action = "{% url 'resetPassword' %}" method = 'POST'>
      {% csrf_token %}
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Create Password" name='password'>
        </div> <!-- form-group// -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" name='confirm_password'>
        </div> <!-- form-group// -->
     
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
        </div> <!-- form-group// -->    
    </form>
    </div> <!-- card-body.// -->
  </div> <!-- card .// -->

   <p class="text-center mt-4">Don't have account? <a href="{% url 'user_type' %}">Sign up</a></p>
   <br><br>

    
    
</section>

{% endblock %}