{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
<style>
     body{
        background-color: #f2f2f2;
        font-family:Arial, Helvetica, sans-serif;
    }
    
</style>

<script>
  
  function calc_total(loopid) {
        var lp_id = loopid
        var price = document.getElementById(`price${lp_id}`).value
        var qty = document.getElementById(`qty${lp_id}`).value
        document.getElementById(`tot_item${lp_id}`).value=parseFloat(qty)*parseFloat(price)
        console.log(price)
        console.log(parseFloat(qty)*parseFloat(price))
        
        total = 0;
        $('.tot_item').each(function () {
            total += parseFloat($(this).val()) ;
            
        });
        
        console.log(total)

        $('#total').val((total).toFixed(2));

    }
</script>



  {% if cart%}
    <form action="{% url 'send_receipt'%}" method="POST" data-aos="fade-up">
        {% csrf_token%}
        <div style="padding-bottom: 6%;padding-top: 6rem;">
            <div class="row pt-3 mb-5">
             
            <fieldset1 id="field1">
            {% for item in cart%}
            <div class="row" id="item_table" data-aos="fade-up">
            
                <div class="col-sm-12 col-md-8 col-lg-8 ps-4 pe-4" style="margin: 0 auto;">
                    <div class="card mb-3" >
                        <div class="row" style=" margin-left: 1px; margin-right: 1px;" >
                            <div class="col-sm-12 mt-2"  style="text-align: right;">
                                <a href="{% url 'delete_cart' item.id%}"><div class="btn btn-dark"  style="font-weight: bold;background-color: #042454;">
                                    X
                                </div></a>
                            </div>
                        </div>
                        <div class="row g-0">
                        <div class="col-md-4 mt-3" style="text-align: center; ">
                            <img src="{{item.item.image.url}}" class="img-fluid rounded w-100" alt="..." >
                        </div>
                        <div class="col-md-6">
                            <div class="card-body mt-5">
                                <center>
                                    <h5 class="card-title" style="text-align: left; font-weight: bold">{{item.item.name}}</h5>

                                </center>         
                            <center>                  
                                        <h5 style="text-align: left;"><span style="font-weight: bolder; font-size: 18px;">₹{{item.item.offer_price}}</span> <span disabled style="font-size: 16px;"><strike>₹{{item.item.price}}</strike></span> <span style="color: green;font-size: 14px;">{{item.item.offer}}%</span></h5>
                            </center>
                            <p class="card-text">{{item.item.title_description}}</p>
                            <div class="row" style="bottom: 0;">
                                <div class="col-sm-12" style="text-align: right;">
                                        <input type="hidden" class="price" name='price[]' id="price{{forloop.counter}}" value="{{item.item.offer_price}}">
                                        <input type="hidden" name='item_id[]' id="id" value="{{item.item_id}}">
                                        <input type="hidden" name='' class="tot_item" id="tot_item{{forloop.counter}}" value="0">
                                        <label for="" style="font-weight: bold;">Quantity : </label>
                                        <input type="number" class="qty w-5  ml-3" onchange="calc_total('{{forloop.counter}}')" value="0" name='qty[]' id="qty{{forloop.counter}}">
                                        
            
                                    
                                </div>
                            </div>
                            
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            
            </div>
            {%endfor%} 
            <div class="row" data-aos="fade-up">
            
                <div class="col-sm-12 col-md-8 col-lg-8 ps-4 pe-4" style="margin: 0 auto;">
                    <div class="card mb-3" >
                        <div class="row g-0">
                        <div class="col-md-4" style="text-align: center; ">
                            
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"></p>
                            <div class="row mb-1" style="bottom: 0;">
                                <div class="col-sm-12" style="text-align: right;">
                                        <label for="" style="font-weight: bold;">Total : </label>
                                        <input type="number" class="total ml-3 mr-3" name="total_amount" id="total" value="0.0">                                  
                                </div>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            
            </div>
            <div class="row" data-aos="fade-up">
                <div class="row mt-2" style="text-align: center;">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-outline-dark w-50" value="Checkout">
                </div>
                
                </div>
            </div>

            
            
            </fieldset2>
            
        </div>
    </form>
{%else%}
<div class="row mt-5" >
            
    <div class="col-sm-12 col-md-8 col-lg-8 ps-4 pe-4" style="margin: 6rem auto;">
        <div class="card mb-3" >
            <div class="row g-0">
           
            <div class="col-md-12">
                <p class="card-text"></p>
                <div class="row mb-1" style="bottom: 0;">
                    <div class="col-sm-12" style="text-align: center;">
                            
                        <h4>No Items</h4>
                                                            
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
    

</div>
{%endif%}

  


  <script>
      
       function fieldset1_function(){
          document.getElementById('field2').style.display="none";
          document.getElementById('field1').style.display="block";

       }
       function fieldset2_function(){
          document.getElementById('field1').style.display="none";
          document.getElementById('field2').style.display="block";

       }
 
   </script> 


{% endblock %}